
@{
    Layout = null;
	TempData.Keep("Duration");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h2>Duration =  @TempData.Peek("Duration")</h2>
</body>
</html>
